/*********************
 * Author: kreo
 * Author URI: http://kreo.me.
 * Version: 1.1
 */

.no-selectable * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.selectable * {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #37F3FD;
}

::selection {
    color: #fff;
    background: #37F3FD;
}

html, body {
    height: 100%;
}

body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 1) !important;
    font-family: "Gotham Rounded", "Rounded", Arial, sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    -webkit-animation-name: 'fade';
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;

}

.overlay {
    background: rgba(31, 31, 37, .96);

    position: fixed;
    height: 100%;
    width: 100%;
}

/* Global Styles */

a {
    text-decoration: none;
    color: rgba(255, 255, 255, .85);
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

a:hover {
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px dotted white;
}

.hidden {
    display: none;
}

strong {
    font-weight: 500;
}

.center {
    position: relative;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

.button {
    font-family: "Gotham Rounded", "Rounded", sans-serif;
    font-weight: 400;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    background: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    text-shadow: none;
    cursor: pointer;
}

.button:hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    border-bottom: none;
}

.icon {
    font-family: "entypo";
    font-size: 40px;
    line-height: 8px;
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;
    left: -4px;
}

.icon.social {
    font-family: "entypo-social";
}

.arrow, .heart {
    top: 4px;
}

.motm-icons {
    font-family: "entypo-social";
    font-size: 36px;
    height: auto;
    width: auto;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 3px;
    left: 5px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.motm:hover {
    border: none;
}

.content {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.motm-button {
    font-size: 16px !important;
    font-weight: 400 !important;
    padding: 8px 15px 6px 15px;
    margin: 15px 0;
}

/* Header Styles */
header {
    position: relative;
}

header h1 {
    font-size: 39px;
    margin: 36px 0 0 185px;
    position: absolute;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.6);
}

header h1 strong {
    color: rgba(255, 255, 255, 0.7);
}

header h1 a:hover {
    border-bottom: none;
}

header h2 {
    margin-left: 185px;
}

.avatar {

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    position: relative;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
    opacity: 1;
    width: 150px;
    height: 150px;
    display: block;
    float: left;
    text-indent: -9999em;
}

.avatar .brand {

    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    bottom: 0;
    left: -5px;
    text-indent: -9999em;
    background-size: 100%;
}

.avatar img {
    position: relative;
    top: 50px;
    left: 18px;

}

.avatar:hover {
    border: none;
}

/* About */
.about {
    font-size: 24px;
    line-height: 33px;
    display: block;
    margin: 0 0 30px 0;
    opacity: 0.8;
    color: white;
}

.social-icons {
    display: block;
}

.social-icons span {
    font-size: 20px;
    line-height: 20px;
    position: relative;
    display: inline-block;
    padding: 14px 10px 6px 10px;
    background: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: rgba(255, 255, 255, .5);
}

.social-icons a:hover, .social-icons span:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: none;
}

/* Posts */
.scribble-list h2, .body-content h2 {
    font-size: 27px;
    color: rgba(255, 255, 255, .5);
}

.scribbles {
    margin: 20px 0 0 0;
    font-size: 20px;
}

.scribbles .scribble {
    margin: 0 0 13px 0;
    font-weight: 400;
    position: relative;
}

.scribbles .scribble:hover .scribble-word-count {
    opacity: 0;
    -webkit-transform: translateY(-20px);
}

.scribbles .scribble:hover .scribble-reading-time {
    opacity: 1;
    -webkit-transform: translateY(0);
}

.scribble-date {
    position: absolute;
    font-weight: 400;
    margin: 10px 0 0 -85px;
    color: rgba(255, 255, 255, 0.46);
    text-align: right;
    width: 70px;
    display: block;
}

.scribble-title {
    font-weight: 200;
}

.scribble-counts {
    float: right;
}

.scribble-word-count {
    opacity: 1;
    font-size: 15px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    position: relative;
    text-align: left;
    left: 15px;
    width: 90px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.scribble-reading-time {
    opacity: 0;
    font-size: 15px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin: 0 0 0 -90px;
    position: relative;
    text-align: left;
    left: 15px;
    width: 90px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-transform: translateY(20px);
}

/* Post */

.post {
    color: rgba(255, 255, 255, .7);
    padding-top: 20px;
}

.post h1 {
    font-size: 34px;
    line-height: 42px;
    font-weight: 400;
    padding-bottom: 5px;
    margin: 0;
}

.post h3 {
    padding: 15px 0 5px 0;
    font-size: 24px;
    font-weight: 400;
}

.post p, ol {
    font-weight: 400;
    font-family: "freight-sans-pro", "proxima-nova", sans-serif;
    font-size: 21px;
    line-height: 28px;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 10px;
}

.post p .strike-out {
    text-decoration: line-through;
}

.post p a {
    color: rgba(255, 255, 255, .8);
}

.post blockquote {
    font-style: italic;
    margin: 20px;
}

.post blockquote p {
    color: rgba(255, 255, 255, .4) !important;
}

.post ol {
    list-style-type: decimal-leading-zero;
}

.post ol li {

}

.post ol li a {
    color: inherit;
}

.post ol li a:hover {
    border: none;
}

.post-navigation {
    margin: 30px 0 0 0;
    font-size: 18px;
}

.tweet-post {
    font-weight: 400;
    position: relative;
    margin: 40px 0 0 0;
    font-size: 20px;
    line-height: 27px;
    color: rgba(255, 255, 255, .5);
}

.sharing {
    margin: 30px 10px 0 0;
}

.sharing:hover .hidden {
    display: inline-block;
}

.sharing .retweets {
    width: 0px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    -webkit-transition: width 0.2s linear;
    -moz-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
    transition: width 0.2s linear;
}

.sharing:hover .retweets {
    width: 73px;

}

.sharing .sharing-count {
    /* margin: 0 0 0 30px; */
    text-align: right;
}

.sharing.rss {
    margin-top: 10px;
}

.permalink {
    display: none;
}

.permalink:hover .text {
    display: none;
}

.permalink:hover .alt-text {
    display: inline-block;
}

/* Page */
.page-wrapper {
    height: 100% !important;
}

.body-text {
    margin: 20px 0 0 0;
    font-size: 17px;
    line-height: 25px;
    color: rgba(255, 255, 255, .6);
}

.home {
    margin: 30px 0 0 0;
}

.body-text .contributor:first-child {
    margin-top: 30px;
}

.body-text .contributor:last-child {
    margin-bottom: 30px;
}

.contributor {
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin-top: 10px;
    color: rgba(255, 255, 255, .6);
}

.contributor:hover {
    border-bottom: none;
}

/* Footer */

.footer {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
}

.footer > span {
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
}

.footer span:hover {
    color: rgba(255, 255, 255, 1.0);
}

/* Firefox Only*/
@-moz-document url-prefix() {
    .button,
    .scribbles .scribble,
    .scribble-date,
    .post h1,
    .post h3,
    .tweet-post,
    .contributors,
    .footer {
        font-weight: 200;
    }

    .post p {
        font-weight: 100;
    }

}

/* Media Queries */
@media (min-width: 891px) {

    .page-wrapper {
        padding: 100px 0 30px 100px;
    }

}

@media (max-width: 890px) and (min-width: 811px) {

    .page-wrapper {
        padding: 120px 0 30px 20px;
    }

}

@media (min-width: 810px) {

    .content {
        margin: 30px 0 0 185px;
        width: 600px;
    }

    .footer {
        margin: 100px 0 0 185px;
    }

}

@media (max-width: 810px) and (min-width: 631px) {

    .page-wrapper {
        padding: 50px 20px 30px 20px;
    }

    .content {
        margin: 30px 0 0 0;
        width: 600px;
    }
}

@media (max-width: 810px) and (min-width: 0px) {

    .scribble-date, .permalink {
        display: none;
    }

    .footer {
        margin: 100px 0 0 0;
    }

}

@media (max-width: 810px) and (min-width: 631px) {

    .page-wrapper {
        width: 600px;
        margin: 0 auto;
        position: relative;
    }

}

@media (max-width: 630px) and (min-width: 0px) {

    .page-wrapper {
        padding: 40px 20px 20px 20px;
    }

    .motm-icons {
        display: none;
    }

    header h1 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 200;
        margin: 30px 0 0 120px;
    }

    header h2 {
        margin-left: 120px;
        line-height: 1.2em;
    }

    .avatar {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        border-radius: 100px;
        width: 100px;
        height: 100px;
    }

    .avatar .brand {
        width: 35px;
        height: 35px;
    }

    .about {
        font-size: 20px;
        line-height: 29px
    }

    .content {
        margin: 30px 0 0 0;
        width: 100%;
    }

    .scribble-title {
        max-width: 89.9%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .scribble-word-count, .scribble-reading-time {
        display: none;
    }

    .sharing .retweets {
        width: 73px;
    }

    .post h3 {
        font-size: 22px;
        font-weight: 400;
    }

    .post p {
        font-size: 19px;
        line-height: 27px;
    }

    .post ol li {
        max-width: 98%;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 0 5px 0;
        text-overflow: ellipsis;
    }

    .footer {
        font-size: 14px;
        line-height: 21px;
        margin-top: 65px;
    }

}

html, body {
    overflow: hidden;
}

.text-indent {
    text-indent: -9999em;
}

@media (max-width: 450px) and (min-width: 0px) {
    header h1 {
        margin-top: 50px;
    }
}